
.fasong {
    text-align: center;
}

.fasong input {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #FFFFff;
    line-height: 36px;
    width: 110px;
    height: 36px;
    cursor: pointer;
    background-color: #2f9cd6;
    outline: none;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.biao1_tables {
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.biao1_tables .title {
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 70px;
}

.biao1_tables table {
    width: 100%;
}

.biao1_tables table caption {
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 70px;
}

.biao1_tables .ul_tables {
    margin-bottom: 20px;
}

.biao1_tables .ul_tables li {
    float: left;
    margin: 0 4px;
    font-size: 18px;

}

.biao1_tables .ul_tables li input {
    border: none;
    outline-style: none;
    border-bottom: 1px solid #000000;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;

}

.biao1_tables table tr {

    border: 1px solid #000000;
}

.biao1_tables table tr td:nth-child(1) {
    width: 20px;
}

.biao1_tables table tr td:nth-child(2) {
    width: 20px;
}

.biao1_tables table tr td:nth-child(3) {
    width: 300px;
}

.biao1_tables table tr td:nth-child(4) {
    width: 300px;
}

.biao1_tables table tr td:nth-child(5) {
    width: 280px;
}

.biao1_tables table tr td:nth-child(6) {
    width: 280px;
}

.biao1_tables table tr:nth-child(1) td {
    text-align: center;

}

.biao1_tables table tr td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    line-height: 30px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}

.biao1_tables table tr td textarea {
    resize: none;
    height: 98%;
    width: 98%;
    border: none;
    outline: none;
    font-size: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.biao1_tables table tr td input {
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 120px;
}

.biao1_tables p {
    font-size: 18px;
    line-height: 38px;

}

/*缁煎悎*/
.biao2_tables {
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.biao2_tables .title {
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 70px;
}

.biao2_tables table {
    width: 100%;
}

.biao2_tables table caption {
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 70px;
}

.biao2_tables .ul_tables {
    margin-bottom: 20px;
}

.biao2_tables .ul_tables li {
    float: left;
    margin: 0 4px;
    font-size: 18px;

}

.biao2_tables .ul_tables li input {
    border: none;
    outline-style: none;
    border-bottom: 1px solid #000000;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;

}

.biao2_tables table tr {

    border: 1px solid #000000;
}

.biao2_tables table tr td:nth-child(1) {
    width: 40px;
}

.biao2_tables table tr td:nth-child(2) {
    width: 560px;
}

.biao2_tables table tr td:nth-child(3) {
    width: 300px;
}

.biao2_tables table tr td:nth-child(4) {
    width: 300px;
}

.biao2_tables table tr:nth-child(1) td {
    text-align: center;

}

.biao2_tables table tr td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    line-height: 30px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}

.biao2_tables table tr td textarea {
    resize: none;
    height: 98%;
    width: 98%;
    border: none;
    outline: none;
    font-size: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.biao2_tables table tr td input {
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
    width: 120px;
}

.biao2_tables p {
    font-size: 18px;
    line-height: 38px;

}

.biao2_tables table tr td span {
    display: inline-block;
    margin-top: -72px;

}

.biao1_tables table tr td span {
    display: inline-block;
    margin-top: -10px;

}

.btn_hu {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.huping_btn {
    background-color: #2f9cd6;
    color: #FFFFff;
    font-size: 16px;
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
