 <widget id="A6944502823879"  version="0.0.1">
    <name>智慧程</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index1.html" />    <access origin="*" />
    <preference name="pageBounce" value="false"/>    <preference name="softInputMode" value="resize"/>    <preference name="softInputBarEnabled" value="true" />
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>  <preference name="slidBackEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="true" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>  <preference name="iOS7StatusBarAppearance" value="true" />
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
</widget>